@mixin triangle($width, $height, $color, $direction) {
  width: 0;
  height: 0;

  @if $direction == up {
    border-left: calc($width / 2) solid transparent;
    border-right: calc($width / 2) solid transparent;
    border-top: $height solid $color;
  } @else if $direction == down {
    border-left: calc($width / 2) solid transparent;
    border-right: calc($width / 2) solid transparent;
    border-bottom: $height solid $color;
  } @else if $direction == left {
    border-top: calc($height / 2) solid transparent;
    border-bottom: calc($height / 2) solid transparent;
    border-left: $width solid $color;
  } @else if $direction == right {
    border-top: calc($height / 2) solid transparent;
    border-bottom: calc($height / 2) solid transparent;
    border-right: $width solid $color;
  }
}
