// Breakpoints
$breakpoint-mobile: 375px;
$breakpoint-desktop: 1440px;

// Colors
$very-dark-grayish-blue: hsl(217, 19%, 35%);
$desatured-dark-blue: hsl(214, 17%, 51%);
$grayish-blue: hsl(212, 23%, 69%);
$light-grayish-blue: hsl(210, 46%, 95%);

// Typography
$font-size-base: 13px;
$font-family-base: 'Manrope', sans-serif;
